.mdc-toolbar {
    background-color: rgba(33, 33, 33, 0.7);
}

/* .mdc-layout-grid__cell {
  background-color: red;
} */

.app-fab--absolute {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}

@media (min-width: 1024px) {
    .app-fab--absolute {
        bottom: 2rem;
        right: 2rem;
    }
}

.mdc-simple-menu {
    overflow: hidden !important;
}

.mdc-text-field-helptext {
    font-family: "Quicksand", sans-serif;
    font-size: 13px;
    padding-left: 16px;
}

.mdc-text-field__label {
    font-family: "Quicksand", sans-serif;
}

.mdc-dialog__footer > .mdc-button {
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
}

.mdc-dialog__header__title {
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
}

.mdc-dialog__body {
    font-family: "Quicksand", sans-serif;
}

#name-validation-msg,
#email-address-validation-msg,
#mobile-validation-msg {
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    text-transform: uppercase;
}

#foreground-content {
    position: absolute;
    width: 100%;
}

#product-name {
    font-family: "Quicksand", sans-serif;
    letter-spacing: 0.4em;
    font-weight: bold;
}

#owner-profile {
    font-family: "Quicksand", sans-serif;
    text-transform: uppercase;
    margin-right: 20px;
    font-size: 15px;
    letter-spacing: 0em;
    font-weight: normal;
    color: var(--mdc-theme-secondary);
}

#owner-profile-menu > ul > li {
    font-family: "Quicksand", sans-serif;
    font-weight: normal;
    font-size: 15px;
}

#friends-list-nav {
    font-family: "Quicksand", sans-serif;
    text-transform: uppercase;
    margin-right: 20px;
    font-size: 15px;
    letter-spacing: 0em;
    font-weight: normal;
    color: white;
}

#notifications-nav {
    font-family: "Quicksand", sans-serif;
    text-transform: uppercase;
    margin-right: 20px;
    font-size: 15px;
    letter-spacing: 0em;
    font-weight: normal;
    color: white;
}

#friends-list-nav:hover,
#notifications-nav:hover {
    font-weight: bold;
    color: var(--mdc-theme-secondary);
}

#page-name {
    margin-top: 17px;
    margin-left: 10px;
    border-left: 1px solid white;
    padding-left: 17px;
    text-transform: uppercase;
    font-family: "Quicksand", sans-serif;
    font-size: 18px;
}

#change-password-container {
    background-color: rgb(21, 50, 133);
    overflow: auto;
    padding-bottom: 40px;
}

#change-password-header {
    font-family: "Quicksand", sans-serif;
    color: white;
    padding-left: 18px;
    margin-top: 40px;
    margin-bottom: 0;
}

#change-password-description {
    padding-left: 18px;
    color: white;
    font-family: "Quicksand", sans-serif;
    padding-bottom: 15px;
    padding-top: 0;
}

#input-fields-container {
    padding-left: 18px;
    padding-right: 18px;
}

#current-password-input,
#new-password-input,
#confirm-new-password-input {
    width: 100%;
}

#input-fields-description {
    padding-left: 18px;
    color: white;
    font-family: "Quicksand", sans-serif;
    padding-bottom: 15px;
    padding-top: 0;
}

#loading-progress {
    display: none;
}
