body,
html {
    margin: 0px;
    background: #212121;
}

:root {
    --mdc-theme-primary: #2962ff;
    --mdc-theme-secondary: #e91e63;
}

.mdc-theme--dark {
    --mdc-theme-primary: #2962ff;
    --mdc-theme-secondary: #e91e63;
}

.mdc-ripple-surface.mdc-ripple-upgraded.mdc-button--primary::before,
.mdc-ripple-surface.mdc-ripple-upgraded.mdc-button--primary::after {
    background-color: rgba(255, 255, 255, 0.2);
}
